<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Given items in Dictionary</h2>
    <table>
        <h3>
        <tr>
            <td>Code</td>
            <td>State</td>
        </tr>
        </h3>
        {%for i,j in us_states.items():%}
        <tr>
            <td>{{i}}</td>
            <td>{{j}}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>